*{
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 15px;
  overflow: auto;
}

.imageStyle {
  height: 33px;
  width: 40px;
  border: 1px;
  margin: 5px;
  vertical-align: middle;
}
.border4 {
  border: white;
  background: linear-gradient(90deg, white 65%, black 65%);
  border-width: 5px;
  border-style: outset;
  color: black;
  font-size: 35px;
  border-radius: 15px;
  float: left;
  text-decoration: none;
}
.border3{
  text-align: center;
  color: black;
  background: linear-gradient(110deg, #64ffb7 11%, rgba(0,0,0,0) 11%), linear-gradient(110deg, #5a7afa 89%, #64ffb7 89%);
}
.border2{
  height: 300px;
  width: 49.9%;
  max-width: 50%;
}

.itemImage {
  height: 200px;
  width: 200px;
  border: 1px;
  margin: 5px;
  float: left;
  vertical-align: top;
}

.nameHolder {
  padding-right: 3px;
  float: right;
  color: white;
}

.branding {
  color: white;
  font-family: fantasy;
  background-color: #eb9316;
  margin-bottom: 3px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;

}

.branding:after {
  content: "";
  display: table;
  clear: both;
}

.userNavigation {
  background-color: #1a71b8;
  color: white;
  font-weight: bold;
  margin-bottom: 3px;
  height: 80px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
  font-family: fantasy;
  border-top-left-radius:30px;
  border-bottom-right-radius:30px;
  font-size: 20px;
}

.searchbar{
  width: 450px;
  max-width: 100%;
}

.border5{
  padding: 10px;
}

.one {
  padding: 10px;
}
a.one:link {
  color: white;
  text-decoration: none;
}

a.one:visited {
  color: white;
  text-decoration: none;
}

a.one:hover {
  background-color: grey;
  color: white;
  text-decoration: none;

}

a.one:active {
  color: white;
  text-decoration: none;

}

a.two:link {
  color: blue;
  text-decoration: none;
}

a.two:visited {
  color: blue;
  text-decoration: none;
}

a.two:hover {
  color: grey;
  text-decoration: none;
}

a.two:active {
  color: blue;
  text-decoration: none;
}

a.three:link {
  color: #ffffff;
  text-decoration: none;
}

a.three:visited {
  color: #ffffff;
  text-decoration: none;
}

a.three:hover {
  color: grey;
  text-decoration: none;
}

a.three:active {
  color: #ffffff;
  text-decoration: none;
}

a.four{
  font-size: 20px;
}

a.four:link {
  color: #111111;
}

a.four:visited {
  color: #111111;
}

a.four:hover {
  background-color: #00C8FF;
  color: #111111;
}

a.four:active {
  color: #111111;
}

.lineELement {
  float: left;
  height: 500px;
  overflow: auto;
  font-family: fantasy;
}

.navigation {
  width: 10%;
}

.navigationContent{
  border: solid;
  padding: 10px;
  border-width: 1px;
  border-color: black;
  text-align: center;
  background-color: rgba(205, 90, 142, 0.87);
  /*background-color: #eb9316;*/
  font-family: fantasy;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
}

.main {
  width: 90%;
}

.mainContent
{
  padding-left: 20px;
  text-align: left;
}
.review:before{
  content: "";
  display: table;
  clear: both;
}
.review {
  padding-left: 30px;
}

.itemInformtionTitle {
  padding-left: 30px;
  font-size: 30px;
  text-align: left;
}
.catInfo{
  font-size: 20px;
}

.line:after {
  content: "";
  display: table;
  clear: both;
}

table {
  border-collapse: collapse;
  padding: 10px;
  margin: auto;
  width: 100%;
}
tr{
  text-align: left;
  display: table-row;
}
thead{
  background: #57BEFF;
}
th{
  padding-left: 3px;
  width:150px;
  height:50px;
}
tr{
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.columnbtn{
  width:200px;
  text-align: center;
}
table td{
  height: 60px;
}

.watchListHeader{
  text-align: center;
}

.predLink
{
  text-align: left;
  padding-left: 3px;
}

.footer {
  color: white;
  background-color: black;
  margin-top: 3px;
  height: 60px;
  border-style: solid;
  border-width: 1px;
  padding: 15px;
}

.footerLeft{
  padding-left: 5px;
  width: 50%;
  float: left;
  text-align: left;
}
.footerRight{
  padding-right: 5px;
  width: 50%;
  float: left;
  text-align: right;
}

