<!DOCTYPE html>
<html lang='en'>
<head>
  <title>SAGA Reviews</title>
  <meta charset="UTF-8">
</head>
<body>
<div class='branding'>
  <font class= "border4"><img class='imageStyle' src="../../assets/Images/webLogo.png" alt="icon ">SAGA <span style="color: white">Reviews</span></font>
</div>

<div class='userNavigation'>
  <font class="nameHolder">not signed in.</font>
  <a class='one' routerLink="/home">Sign In</a>&nbsp;|&nbsp;
  <a  class='one' routerLink="/home">My Reviews</a>&nbsp;|&nbsp;
  <a  class='one' routerLink="/my-watchlist">My Watch List</a>&nbsp;|&nbsp;
  <a  class='one' href="index.html">My Poles</a>&nbsp;
  <input class= "searchbar" type="text" placeholder="Search..">
</div>

<div class='line'>

  <div class='lineELement navigation navigationContent'>
    <a  class='three' routerLink="/home">Home</a><br><br>
    <a  class='three' routerLink="/categories">Categories</a><br><br>
    <a  class='three' routerLink="/home">Trending</a><br><br>
    <a  class='three' routerLink="/home">Support</a><br><br>
    <a  class='three' routerLink="/home">About Us</a>
  </div>
  <div class='lineELement main mainContent'>
    <router-outlet></router-outlet>
  </div>

</div>

<div class='footer'>
  <p class='footerLeft'> Copyright &copy; 2022 SAGA and Co.Ltd. All rights reserved | SAGA Reviews</p>
  <p class='footerRight'> Follow us on: <a  class='two' href="index.html">Facebook</a> and <a  class='two' href="index.html">Twitter</a></p>
</div>
</body>
</html>
