<h2 class='watchListHeader'>Watch List: All your Watch list at one place - update,add and remove your favourite content</h2>
<table>
  <thead>
  <tr>
    <th>Movie</th>
    <th>Category</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="item.html">Spiderman:Homecoming</a></td>
    <td>Movies and T.V shows</td>
    <td>Science Fiction</td>
    <td>&#9733; &#9733; &#9733;</td>
    <td class="columnbtn"><button type='button'  onclick="location.href='item.html'">Update</button>
      <button class="deletebtn" onclick="location.href='myItems.html'">Remove</button>
    </td>

  </tr>
  <tr>
    <td><a href="item.html">Oscar Awards</a></td>
    <td>Celebrities, Events and News</td>
    <td>Awards</td>
    <td>&#9733; &#9733; &#9733; &#9733; </td>
    <td class="columnbtn"  ><button type='button' onclick="location.href='item.html'">Update</button>
      <button type='button' onclick="location.href='myItems.html'">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
<p class='predLink'> click <a href="myItems.html">here</a> to make Movie Predictions</p>
