<p>SAGA Buzz is a one stop website for people interested in Films, TV Series, Celebrity articles, Box Office Collection and lot more.</p>
<p>Write your own reviews, create polls, make box office predictions, create your watch list, maintain your own movie journal and be a part of our universe</p>

<h3>Design and Developed by:</h3>
<ul>
  <li><b><span style="color: #BE5869">S</span></b>rikant</li>
  <li><b><span style="color: #BE5869">A</span></b>chyuth</li>
  <li><b><span style="color: #BE5869">G</span></b>opi</li>
  <li><b><span style="color: #BE5869">A</span></b>nusha</li>
</ul>
<h3>Contact Us</h3>
<address>
  <a href="mailto:avgh3@umsystem.edu">SAGA Buzz</a><br>
  <a href="tel:+19132833427">+1 (913) 283-3427</a>
</address>
