.container{
  width:700px;
  background:rgba(255,255,142,0.7);
  background:rgba(0,0,0,0.5);
  background:rgba(255,255,255,0.7);

  padding-bottom:50px;
  padding-top:30px;
  border-radius:2%;
}
.heading{
  background:blue;
  /*background:gray;*/
  color:white;
  padding:15px;
  margin:0 25px 35px 25px;
  border-radius:2%;
  background:linear-gradient(#1D4350,#A43931,#BE5869);
}
.heading h1
{
  padding:0;
  margin:0;
  color:#ffffff
}
.submit
{
  border:2px solid blue;
  color:blue;
  background:white;
  border-radius:50px;
  font-weight:600;
}
.submit:hover{
  background:blue;
  color:white;
  background:linear-gradient(#1D4350,#A43931,#BE5869);
  border-color:transparent;
}
.btn{
  background-color: #5a7afa;
  border-radius: 10px;

}
