<form class = "form-horizontal" action = "">
  <div class = "form-group has-feedback">
    <label for = "email" class = "control-label col-sm-offset-1 col-sm-2">Email:</label>
    <div class = "col-sm-6 email">
      <input type = "email" class = "form-control" name = "email" id = "email" placeholder = "Enter Email">
      <span class = "glyphicon gly_em form-control-feedback"></span>
    </div>
  </div>
  <br>
  <div class = "form-group has-feedback">
    <label for = "password" class = "control-label col-sm-offset-1 col-sm-2">Password:</label>
    <div class = "col-sm-6 pwd">
      <input type = "password" class = "form-control" name = "pwd" id = "pwd" placeholder = "Enter password">
      <span class = "glyphicon gly_pwd form-control-feedback"></span>
    </div>
  </div>
  <div class = "form-group">
    <div class = "col-sm-offset-3 col-sm-9">
      <div class = "checkbox">
        <label class = "col-sm-5"><input type = "checkbox" name = "remember">Remember Me</label>
        <a href = "#" class = "col-sm-4">Forget Password ?</a>
      </div>
    </div>
  </div>
  <br>
  <div class = "form-group">
    <div class = "col-sm-offset-3 col-sm-6">
      <button type = "submit" class = "btn" id = "submit">Sign In</button><br>
    </div>
  </div>
</form>
