<div class="header">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class= "navbar-brand" routerLink="/home"><img class='imageStyle' src="../../assets/Images/webLogo.png" alt="icon " >
      SAGA&nbsp;<span style="color: white">Buzz&nbsp; </span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  class='nav-link' [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a  class='nav-link' [routerLink]="['/categories']" routerLinkActive="router-link-active">Categories</a>
        </li>
        <li class="nav-item">
          <a  class='nav-link' [routerLink]="['/nowplaying']" routerLinkActive="router-link-active">Now Playing</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' [routerLink]="['/catalog']" routerLinkActive="router-link-active">Catalog</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' [routerLink]="['/aboutus']" routerLinkActive="router-link-active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="router-link-active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active">Sign up</a>
        </li>
        <li class="dropdown">
          <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Navigation</button>
          <div class="dropdown-content">
            <a class="nav-link" [routerLink]="['/my-reviews']" routerLinkActive="router-link-active">My Reviews</a>
            <a class="nav-link" [routerLink]="['/my-watchlist']" routerLinkActive="router-link-active">My Watch List</a>
            <a class="nav-link" [routerLink]="['/my-poles']" routerLinkActive="router-link-active">My Poles</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light" style="background-color: #BE5869" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>
<!-- ng add @angular/material -->
<div class="loading" *ngIf="loading">
  <mat-progress-bar [color]="color" [mode]="mode" [value]="value"></mat-progress-bar>
</div>
<router-outlet></router-outlet>
<div class='footer'>
  <p class='footerLeft'> Copyright &copy; 2022 SAGA and Co.Ltd. All rights reserved | SAGA Buzz</p>
  <p class='footerRight'> Follow us on: <a  class='two' href="index.html">Facebook</a> and <a  class='two' href="index.html">Twitter</a></p>
</div>


